.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.border {
  border: 1px solid var(--font-2);
}
.parallax {
  background-image: linear-gradient(
    rgb(158,204,229),
    rgb(184, 224, 210),
    rgb(242,245,255)
  );

  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
